<component name="ArtifactManager">
  <artifact type="war" name="SpringTestChapter02:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="chapter2-1.0.war">
      <element id="artifact" artifact-name="SpringTestChapter02:war exploded" />
    </root>
  </artifact>
</component>